.pytest_cache
.pytest_cache/**
/.pytest_cache/**
.vevenv/**
/.vevenv/**
.coverage
/.coverage
coverage.xml 
/coverage.xml
*.cover
_pycache_/**
/pycache/**
*.pyc
/__pycache__/
/backend/**/__pycache__/**
# Build artifacts
build/
dist/
out/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/backend/.env
/frontend/.env
/frontend/node_modules/
# IDE and OS specific files
.DS_Store
.idea/
.vscode/
Thumbs.db
credentials.json
/backend/credentials.json
# Test coverage reports
coverage/
.venvs/**
/.venvs/**
jira-api.egg-info/
/jira-api/.venv/**
/jira-api/.venv**/  
.pytest_cache/**
/.pytest_cache/**
.venv/**
/.venv/**
_pycache_/**
/pycache/**
*.pyc
/__pycache__/
/backend/**/__pycache__/**
**/__pycache__/**
# Build artifacts
build/
dist/
out/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

/backend/.env
/frontend/.env
/frontend/node_modules/
# IDE and OS specific files
.DS_Store
.idea/
.vscode/
Thumbs.db
credentials.json
/backend/credentials.json
# Test coverage reports
coverage/
.venvs/**
/.venvs/**
jira-api.egg-info/
/jira-api/.venv/**
/jira-api/.venv**/
.coverage
/.coverage
coverage.xml 
/coverage.xml
*.cover